{{set . "title" "Home"}}
{{template "header.html" .}}

<div class="container">
  <div class="col-md-2"></div>
  <div class="col-md-8 center">
    <div class="row">
      <h1 class="text-center">{{ .text }}</h1>
      <p></p>

      <div class="col-md-12">
        <div class="search col-md-12">
          <h3 class="text-center">Please Enter Your Problem...</h3>
          <div class="col-md-12">
            <form method="POST" action="/App/Search">


          <div class="row form-group">
            <span><label for="all" id="all-label" class="text-danger col-md-3 text-center">all</label>
						<div class="col-md-9 w-100"><input type="text" name="all" id="all" class="form-control" placeholder="all"></div></span>
          </div>

            <div class="row form-group">
            <span><label for="ptitle" id="ptitle-label" class="text-danger col-md-3 text-center">page title</label>
						<div class="col-md-9 w-100"><input type="text" name="ptitle" id="ptitle" class="form-control" placeholder="page title"></div></span>
            </div>

            <div class="row form-group">
            <span><label for="tags" id="tags-label" class="text-danger col-md-3 text-center">tags</label>
						<div class="col-md-9 w-100"><input type="text" name="tags" id="tags" class="form-control" placeholder="tags"></div></span>
            </div>

            <div class="row form-group">
            <span><label for="ecode" id="ecode-label" class="text-danger col-md-3 text-center">error code</label>
						<div class="col-md-9 w-100"><input type="text" name="ecode" id="ecode" class="form-control" placeholder="error code"></div></span>
            </div>

            <div class="row">
              <div class="col-md-2 col-md-offset-5">
                <input type="submit" id="search-btn" class="btn search-btn center-block" value="Search">
              </div>
            </div>


          </div>
        </div>
      </div>


    </div>
  </div>
  <div class="col-md-2"></div>
</div>



<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

{{template "footer.html" .}}
