{{set . "title" "MySolutions"}}
{{template "header.html" .}}
<script src="http://cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js"></script>

<div class="container">
  <div class="col-md-1">
    <div class="row">
        <br><br><br>

            <a href="/App/EditPage?pageId={{.page.Page_Body.Page_Id}}" class="link-btn"><i class="fas fa-edit fa-3x"></i></a>
        </div>
    <br>
      <div class="row">
      <a href="/App/DeletePage?pageId={{.page.Page_Body.Page_Id}}" class="link-btn"><i class="fas fa-trash-alt fa-3x"></i></a>
    </div>


    </div>
  <div class="col-md-10 center">

    <div class="row">
      <h1 class="text-center page">{{ .page.Page_Body.Page_Title }}</h1>
    </div>

    <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <form method="POST" action="/App/SearchManager">
        {{range .page.Tag_List}}
        <input type="hidden" name="tags" value="{{.}}" >
        <input type="submit" class="btn tag-btn" value="{{.}}">
        &nbsp;&nbsp;
        {{ end }}
      </form>
    </div>
  </div>

  <br>
  <br>


  <div class="row page">
    <div class="col-md-1"></div>
    <div class="col-md-10">

      <script type="text/javascript">
        var formatted = marked({{.page.Page_Body.Page_Body}})
        document.write("hello")
        document.write(formatted)
      </script>

    </div>
    <div class="col-md-1"></div>
  </div>


  <div class="row page">
    <div class="col-md-1"></div>
    <div class="col-md-10"><h3>Condition</h3>

      <script>{{.page.Page_Body.Page_Condition}}</script>

    </div>
    <div class="col-md-1"></div>
  </div>

  <div class="row page">
    <div class="col-md-1"></div>
    <div class="col-md-10"><h3>Reration Pages</h3>

      {{range .page.Page_Relation_Links}}

      <a href="/App/PageDisplay?pageId={{.Page_Id}}">{{.Page_Title}}</a>

      {{end}}

    </div>
    <div class="col-md-1"></div>
  </div>



  </div>
  <div class="col-md-1"></div>
</div>



<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>



{{template "footer.html" .}}
