{{set . "title" "MySolutions"}}
{{template "header.html" .}}

<div class="container">
  <div class="col-md-1"></div>
  <div class="col-md-10 center">

    <div class="row">
      <h1 class="text-center page">タイトル入力</h1>
    </div>

    <div class="row">
    <div class="col-md-10 col-md-offset-1">

        タグ入力


    </div>
  </div>

  <br>
  <br>

  <div class="row page">
    <div class="col-md-1"></div>
    <div class="col-md-10"><h3>Error Code</h3>

    </div>
    <div class="col-md-1"></div>
  </div>

  <div class="row page">
    <div class="col-md-1"></div>
    <div class="col-md-10"><h3>Error</h3>

    </div>
    <div class="col-md-1"></div>
  </div>

  <div class="row page">
    <div class="col-md-1"></div>
    <div class="col-md-10"><h3>Details</h3>

    </div>
    <div class="col-md-1"></div>
  </div>

  <div class="row page">
    <div class="col-md-1"></div>
    <div class="col-md-10"><h3>Solutions</h3>


    </div>
    <div class="col-md-1"></div>
  </div>

  <div class="row page">
    <div class="col-md-1"></div>
    <div class="col-md-10"><h3>Reference</h3>

    </div>
    <div class="col-md-1"></div>
  </div>

  <div class="row page">
    <div class="col-md-1"></div>
    <div class="col-md-10"><h3>Condition</h3>


    </div>
    <div class="col-md-1"></div>
  </div>

  <div class="row page">
    <div class="col-md-1"></div>
    <div class="col-md-10"><h3>Reration Pages</h3>

    </div>
    <div class="col-md-1"></div>
  </div>



  </div>
  <div class="col-md-1"></div>
</div>



<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

{{template "footer.html" .}}
