{{set . "title" "MySolutions"}}
{{template "header.html" .}}

<div class="container">
  <div class="col-md-1"></div>
  <div class="col-md-10 center">

<form method="POST" action="/App/Insert">

    <div class="row page">
      <div class="col-md-1"></div>
      <div class="col-md-10"><h3 id="ptitle-label">タイトル　※</h3>
      <div class="form-group">
        <input type="text" id="ptitle" name="ptitle" class="form-control"/>
      </div>
      <div class="col-md-1"></div>
    </div>
</div>

    <div class="row page">
      <div class="col-md-1"></div>
      <div class="col-md-10"><h3 id="tags-label">タグ（半角スペースで区切る）※</h3>
          <div class="form-group">
        <input type="text" id="tags" name="tags" class="form-control"/>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>

  <div class="row page">
    <div class="col-md-1"></div>
    <div class="col-md-10"><h3 id="ecode-label">Error Code</h3>
      <input type="text" id="ecode" name="ecode" class="form-control"/>
    </div>
    <div class="col-md-1"></div>
  </div>

  <div class="row page">
    <div class="col-md-1"></div>
    <div class="col-md-10"><h3 id="eabst-label">Error</h3>
      <input type="text" id="eabst" name="eabst" class="form-control"/>
    </div>
    <div class="col-md-1"></div>
  </div>

  <div class="row page">
    <div class="col-md-1"></div>
    <div class="col-md-10"><h3 id="edetail-label">Details</h3>
      <textarea rows="10" cols="60" id="edetail" name="edetail" class="form-control"></textarea>
      <div class="col-md-1"></div>
    </div>

  </div>

  <div class="row page">
    <div class="col-md-1"></div>
    <div class="col-md-10"><h3 id="solutions-label">Solutions　※</h3>
      <textarea rows="10" cols="60" id="solutions" name="solutions" class="form-control"></textarea>
    </div>
    <div class="col-md-1"></div>
  </div>

  <div class="row page">
    <div class="col-md-1"></div>
    <div class="col-md-10"><h3 id="reference-label">Reference</h3>
      <div class="form-group col-md-12">
        <div class="col-md-4">名前<input type="text" id="ltitle1" name="ltitle1" class="form-control"></div>
        <div class="col-md-8">URL貼り付け<input type="text" id="link1" name="link1" class="form-control w-100"></div>
      </div>
      <div class="form-group col-md-12">
        <div class="col-md-4">名前<input type="text" id="ltitle2" name="ltitle2" class="form-control"></div>
        <div class="col-md-8">URL貼り付け<input type="text" id="link2" name="link2" class="form-control w-100"></div>
      </div>
      <div class="form-group col-md-12">
        <div class="col-md-4">名前<input type="text" id="ltitle3" name="ltitle3" class="form-control"></div>
        <div class="col-md-8">URL貼り付け<input type="text" id="link3" name="link3" class="form-control w-100"></div>
      </div>
      <div class="form-group col-md-12">
        <div class="col-md-4">名前<input type="text" id="ltitle4" name="ltitle4" class="form-control"></div>
        <div class="col-md-8">URL貼り付け<input type="text" id="link4" name="link4" class="form-control w-100"></div>
      </div>
      <div class="form-group col-md-12">
        <div class="col-md-4">名前<input type="text" id="ltitle5" name="ltitle5" class="form-control"></div>
        <div class="col-md-8">URL貼り付け<input type="text" id="link5" name="link5" class="form-control w-100"></div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>

  <div class="row page">
    <div class="col-md-1"></div>
    <div class="col-md-10"><h3 id="condition-label">Condition　※</h3>

      <input type="radio" id="" name="condition" value="true">完結<br>
      <input type="radio" id="" name="condition" value="false">要追記<br>
      <input type="text" id="" name="importance" class="form-control">

    </div>
    <div class="col-md-1"></div>
  </div>
<!--
  <div class="row page">
    <div class="col-md-1"></div>
    <div class="col-md-10"><h3 id="relation-label">Relation Pages</h3>
      <div class="col-md-12">該当ページURL貼り付け<input type="text" id="relations1" name="relations1" class="form-control w-100"></div>
      <div class="col-md-12"><input type="text" id="relations2" name="relations2" class="form-control w-100"></div>
      <div class="col-md-12"><input type="text" id="relations3" name="relations3" class="form-control w-100"></div>
      <div class="col-md-12"><input type="text" id="relations4" name="relations4" class="form-control w-100"></div>
      <div class="col-md-12"><input type="text" id="relations5" name="relations5" class="form-control w-100"></div>
    </div>
    <div class="col-md-1"></div>
  </div>
-->
  <br><br>

  <div class="row">
    <div class="col-md-2 col-md-offset-5">
      <input type="submit" id="search-btn" class="btn search-btn center-block" value="登録">
    </div>
  </div>


</form>
  </div>
  <div class="col-md-1"></div>
</div>



<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

{{template "footer.html" .}}
